<!DOCTYPE html>
<html lang="en">
  {% load staticfiles %}
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="{% static 'favicon/favicon.ico' %}">
    
    {% block title %}
    <title>{{ title }}</title>
    {% endblock %}
    
    
    {% block base_css %}
    <!-- Bootstrap core CSS -->
    <link href="{% static 'bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/blog.css' %}" rel="stylesheet">
    {% endblock %}
    <!-- Custom styles for this template -->
    {% block custom_css %}
    
    {% endblock %}
    <!-- Just for debugging purposes. Don't actually copy these 2 lines! -->
    <!--[if lt IE 9]><script src="../../assets/js/ie8-responsive-file-warning.js"></script><![endif]-->
    <script src="{% static 'js/ie-emulation-modes-warning.js' %}"></script>

  </head>

  <body>
    {% block head_menu %}
    <div class="blog-masthead">
      <div class="container">
        <nav class="blog-nav">
          <a class="blog-nav-item active" href="/">Главная</a>
          <a class="blog-nav-item" href="/">Все записи</a>
          <a class="blog-nav-item" href="/create_post/">Создать пост</a>
          <a class="blog-nav-item" href="#">Обо мне</a>
        </nav>
      </div>
    </div>
    {% endblock %}
    <div class="container">
      <div class="blog-header">
        <h1 class="blog-title">Простой блог обо всем</h1>
        <p class="lead blog-description">Сделан с использованием django и bootstrap</p>
      </div>

      <div class="row">

        <div class="col-sm-8 blog-main">
        {% block content %}
        {% for obj in post_list %}
          <div class="blog-post">
            <h2 class="blog-post-title"><a href = "/view_post/{{obj.id}}/">{{obj.title}}</a></h2>
            <p class="blog-post-meta">{{obj.date_created|date:"j.m.Y H:i"}}</p>

            <p>{{obj.content|truncatechars:150}}</p>
            <hr>
            <p><strong>{% for item in obj.tags.all %}<a href="/post_by_tag/{{item.name}}">{{ item }}</a> {% endfor %}</strong></p>
          </div><!-- /.blog-post -->
        {% endfor %}
        {% endblock %}
          <nav>
            <ul class="pager">
              <li><a href="#">Previous</a></li>
              <li><a href="#">Next</a></li>
            </ul>
          </nav>

        </div><!-- /.blog-main -->
        
        {% block area_tags %}
        <div class="col-sm-3 col-sm-offset-1 blog-sidebar">
          <div class="sidebar-module sidebar-module-inset">
            <h4>Теги</h4>
                <p>
                    {% for item in tag_list %}
                    <a href="/post_by_tag/{{item.name}}">{{ item }}</a>
                    {% endfor %}
                </p>
          </div>
        {% endblock %}
          <div class="sidebar-module">
            <h4>Archives</h4>
            <ol class="list-unstyled">
              <li><a href="#">March 2014</a></li>
              <li><a href="#">February 2014</a></li>
              <li><a href="#">January 2014</a></li>
              <li><a href="#">December 2013</a></li>
              <li><a href="#">November 2013</a></li>
              <li><a href="#">October 2013</a></li>
              <li><a href="#">September 2013</a></li>
              <li><a href="#">August 2013</a></li>
              <li><a href="#">July 2013</a></li>
              <li><a href="#">June 2013</a></li>
              <li><a href="#">May 2013</a></li>
              <li><a href="#">April 2013</a></li>
            </ol>
          </div>
          <div class="sidebar-module">
            <h4>Elsewhere</h4>
            <ol class="list-unstyled">
              <li><a href="#">GitHub</a></li>
              <li><a href="#">Twitter</a></li>
              <li><a href="#">Facebook</a></li>
            </ol>
          </div>
        </div><!-- /.blog-sidebar -->

      </div><!-- /.row -->
    </div><!-- /.container -->
    
    
    {% block footer %}
    <footer class="blog-footer">
      <p>Blog template built for <a href="http://getbootstrap.com">Bootstrap</a> by <a href="https://twitter.com/mdo">@mdo</a>.</p>
      <p>
        <a href="#">Back to top</a>
      </p>
    </footer>
    {% endblock %}
    
    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    {% block base_script %}
    <script src="{% static 'jquery/jquery.min.js' %}"></script>
    <script src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>
    {% endblock %}
    
    {% block custom_script %}
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="{% static 'js/ie10-viewport-bug-workaround.js' %}"></script>
    {% endblock %}
  </body>
</html>
