{% extends "base.html" %}

{% block content %}

<form action="." method="post"> {% csrf_token %}
    <div>
        {{ form.title.errors }}
        {{ form.title.label_tag }}
        {{ form.title }}
    </div>
    <div>
        {{ form.date_created.errors }}
        {{ form.date_created.label_tag }}
        {{ form.date_created }}
    </div>
    <hr>
    <div>
        {{ form.content.errors }}
        {{ form.content.label_tag }}
        {{ form.content }}
    </div>
    <div>
        {{ form.tags.errors }}
        {{ form.tags.label_tag }}
        {{ form.tags }}
    </div>
    
    <input type="submit" value="Save">
</form>

{% endblock %}
