{% extends "base.html" %}

{% block content %}
    <p>{{object.title}}</p>
    <p>{{object.content}}</p>
    <p>Облако тегов: <strong>
        {% for item in object.tags.all %}
        <span class="label label-warning"> <a href = '/post_by_tag/{{item.name}}/' >{{ item }}</a></span>
        {% endfor %}
        </strong>
    </p>
    
   
    {% block messages %}
        {% for message in messages %}
        <span class="label label-success">
            {{ message }}
        </span>
        {% endfor %}
        
    {% endblock %}
    
{% block comment %}
 <hr>
<h3>Комментарии</h3>
    {% for item in view_comments %}
        <p>{{ item }}</p>
    {% endfor %}
    
    <hr>
    </br>
    <form method="post" action='{% url "create_comment_view_url" %}'>{% csrf_token %}
        
        <div>
            {{form.author.label_tag}}
            {{form.author}}
        </div>
        </br>
        {{form.content.label_tag}}
        <div>
            {{form.content}}
        </div>
        
        {{ form.post }}

        <button type="submit" class="btn btn-primary">Сохранить</button>

    </form>
{% endblock %}


{% endblock %}
